fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #000;
	font-family: "Noto Serif JP", serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-footer {
	background: #f4f4f4;
}

.l-header {
	background: #fff;
	height: 6.25rem;
	left: 0;
	padding: 0 2.5rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 1050px;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}

.c-btn {
	text-align: center;
}

.c-btn a {
	align-items: center;
	background-color: #274a75;
	border-radius: 5px;
	box-shadow: 5px 5px 0 #C6D6EB;
	color: #fff;
	display: flex;
	display: inline-block;
	font-family: "fertigo-pro", serif;
	font-size: 18px;
	font-weight: 700;
	justify-content: space-between;
	margin: 0 auto;
	padding: 10px;
	transition: 0.3s;
	width: 180px;
}

.c-btn a:hover {
	background-color: #C6D6EB;
	box-shadow: 0 0 0;
	color: #274a75;
	text-decoration: none;
}

.p-class__btn {
	margin: 0 auto;
	padding-top: 1.875rem;
	text-align: center;
}

.p-class__btn a {
	align-items: center;
	background-color: #274a75;
	box-shadow: 5px 5px 0 #C6D6EB;
	color: #fff;
	display: flex;
	display: inline-block;
	font-family: "fertigo-pro", serif;
	font-size: 18px;
	font-weight: 700;
	justify-content: space-between;
	margin: 0 auto;
	padding: 10px;
	transition: 0.3s;
	width: 180px;
}

.p-class__btn a:hover {
	background-color: #274a75;
	box-shadow: 0 0 0;
	color: #274a75;
	text-decoration: none;
}

.p-header_hamburger {
	height: 2.0625rem;
	position: relative;
	width: 3.125rem;
}

.p-header_hamburger span {
	background: #000;
	display: block;
	height: 4px;
	left: 0;
	position: absolute;
	transform: translateY(0) rotate(0);
	transition: .2s;
	width: 100%;
}

.p-header_hamburger span:nth-of-type(1) {
	top: 0;
	width: 100%;
}

.p-header_hamburger span:nth-of-type(2) {
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: calc(32 / 40 * 100%);
}

.p-header_hamburger span:nth-of-type(3) {
	bottom: 0;
	width: calc(20 / 40 * 100%);
}

.p-header_hamburger.active span {
	background: #000;
}

.p-header_hamburger.active span:nth-of-type(1) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

.p-header_hamburger.active span:nth-of-type(2) {
	width: 0;
}

.p-header_hamburger.active span:nth-of-type(3) {
	bottom: 50%;
	transform: translateY(50%) rotate(-45deg);
	width: 100%;
}

.c-test {
	color: red;
	font-size: 3.125rem;
}

.c-top-btn {
	background-color: #fff;
	display: block;
	height: 2.8125rem;
	opacity: 1;
	position: relative;
	text-decoration: none;
	width: 2.8125rem;
}

.c-top-btn:hover {
	background-color: #000;
	transition: all .3s;
}

.c-top-btn__white {
	display: block;
	left: 50%;
	padding: 1.03125rem 0.65625rem;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: .4s ease-in-out;
	width: 100%;
}

.c-top-btn__black {
	display: block;
	left: 50%;
	opacity: 0;
	padding: 1.03125rem 0.65625rem;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: .4s ease-in-out;
	width: 100%;
}

.c-top-btn__white:hover {
	opacity: 0;
}

.c-top-btn__black:hover {
	opacity: 1;
}

.p-about {
	background: #f4f4f4;
	margin: 12.5rem 0;
	position: relative;
}

.p-about:before {
	color: #e6e6e6;
	content: "Sumiya-ballet";
	font-family: "fertigo-pro", serif !important;
	font-size: 7.5rem;
	font-weight: bold;
	position: absolute;
	right: calc(50% - 40%);
	top: -150px;
}

.p-about__inner {
	margin: 0 auto;
	max-width: 75rem;
	padding: 5rem 2.5rem;
	width: 100%;
}

.p-about__title {
	position: relative;
}

.p-about__text {
	border: 2px solid #000;
	border-radius: 20px;
	box-shadow: 2px 2px 1px #c7c7c7;
	color: #000;
	font-size: 1.25rem;
	margin: 0 auto;
	margin: 2em auto;
	margin-top: 1.25rem;
	max-width: 56.25rem;
	padding: 1.875rem 3.125rem;
	position: relative;
	width: 100%;
}

.p-about__message {
	padding-bottom: 15px;
}

.p-about__name {
	text-align: right;
}

.p-class {
	background-color: #ECF1F8;
	color: #274a75;
	padding: 12.5rem 2.5rem;
}

.p-class__inner {
	margin: auto;
	max-width: 61.25rem;
	width: 100%;
}

.p-class__title {
	color: #000;
	position: relative;
}

.p-class__title:before {
	color: #274a75;
	content: "Class";
	font-family: "fertigo-pro", serif;
	font-size: 5rem;
	font-weight: bold;
	left: 50%;
	position: absolute;
	top: -160px;
	transform: translateX(-50%);
}

.p-section__sub-title {
	text-align: center;
}

.p-class__cards {
	display: flex;
	flex-wrap: wrap;
	padding-top: 15rem;
}

.p-class__card {
	background: #fff;
	margin-bottom: 1.875rem;
	margin-left: 2.5rem;
	padding: 3.125rem 0;
	position: relative;
	text-align: center;
	width: calc(33.3% - 40px * 2 / 3);
}

.p-class__card:nth-child(3n + 1) {
	margin-left: 0;
}

.p-class__card:nth-child(3n) {
	background: #fff;
}

.p-class__header {
	color: #000;
	font-size: 1.125rem;
	font-weight: bold;
	padding-bottom: 1.875rem;
}

.p-class__text {
	color: #000;
}

.p-class__card::after {
	background: #274a75;
	border-radius: 50%;
	color: white;
	font-family: "Noto Serif JP", serif;
	font-size: 1.875rem;
	font-style: italic;
	font-weight: bold;
	height: 150px;
	left: 50%;
	line-height: 1;
	padding-top: 50px;
	position: absolute;
	top: -55%;
	top: -120px;
	transform: translateX(-50%);
	width: 150px;
}

.p-class__card:first-of-type::after {
	content: "kids&\Ayouth";
	font-family: "fertigo-pro", serif;
	white-space: pre;
}

.p-class__card:nth-of-type(2)::after {
	background: #fff;
	border: 5px solid #274a75;
	color: #274a75;
	content: "adult";
	font-family: "fertigo-pro", serif;
	padding-top: 52px;
}

.p-class__card:nth-of-type(3)::after {
	content: "kids&\Ayouth";
	font-family: "fertigo-pro", serif;
	white-space: pre;
}

.p-company {
	padding-bottom: 6.25rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.p-company__inner {
	margin: 0 auto;
	max-width: 56.25rem;
	width: 100%;
}

.p-company__title {
	padding-bottom: 40px;
	position: relative;
}

.p-company__title:before {
	color: #e6e6e6;
	content: "Features";
	font-family: "fertigo-pro", serif;
	font-size: 7.5rem;
	font-weight: bold;
	left: calc(50% - 60%);
	position: absolute;
	top: -160px;
}

.p-company__title {
	padding-bottom: 40px;
}

.p-company__title span {
	color: #274a75;
	font-family: "fertigo-pro", serif;
	font-size: 3.125rem;
}

.p-company__card:nth-child(even) {
	flex-direction: row-reverse;
}

.p-company__cards {
	padding-top: 6.25rem;
}

.p-company__card {
	box-shadow: 0 0 10px #ddd;
	display: flex;
	margin-bottom: 6.25rem;
	padding: 8px;
	position: relative;
}

.p-company__card::after {
	-webkit-background-clip: text;
	color: #274a75;
	font-family: "fertigo-pro", serif;
	font-size: 5rem;
	font-style: italic;
	font-weight: bold;
	left: 0;
	line-height: 1;
	position: absolute;
	top: -18%;
}

.p-company__card:nth-of-type(even)::after {
	-webkit-background-clip: text;
	color: #274a75;
	font-family: "fertigo-pro", serif;
	font-size: 5rem;
	font-style: italic;
	font-weight: bold;
	left: 88%;
	line-height: 1;
	position: absolute;
	top: -18%;
}

.p-company__card:first-of-type::after {
	content: "01";
}

.p-company__card:nth-of-type(2)::after {
	content: "02";
}

.p-company__card:nth-of-type(3)::after {
	content: "03";
}

.card__texts {
	background: #fff;
	display: inline-block;
	padding-left: 30px;
	padding-right: 3.125rem;
	padding-top: 2.1875rem;
	width: 55%;
}

.p-company__card:nth-child(even) .card__texts {
	color: #000;
	padding-left: 3.125rem;
	padding-right: 1.875rem;
}

.card__title {
	color: #000;
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 1.875rem;
}

.card__title span {
	color: #274a75;
	font-family: "fertigo-pro", serif;
	font-size: 1.875rem;
	margin-right: 3px;
}

.card__text {
	color: #000;
	padding-bottom: 1.25rem;
}

.card__images {
	height: auto;
	width: 45%;
}

.card__figure {
	height: 0;
	padding-top: 68.57%;
	position: relative;
	width: 100%;
}

.card__figure img {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-footer {
	padding-bottom: 2.5rem;
	padding-top: 2.5rem;
}

.p-footer__inner {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 70rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.p-footer__title {
	color: #000;
	font-family: "fertigo-pro", serif;
	font-size: 32px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
}

.p-footer__btn {
	bottom: 0;
	position: fixed;
	right: 0;
	z-index: 9999;
}

.p-footer__btn img {
	border: 0.0625rem solid #000;
	display: block;
	left: 50%;
	padding: 1.03125rem 0.65625rem;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: .4s ease-in-out;
	width: 100%;
}

.p-footer__btn img:hover.l-footer__btn img:nth-of-type(2) {
	opacity: 0;
}

.p-footer__btn__img:hover {
	opacity: 0;
}

.p-footer_nav ul {
	display: flex;
}

.p-footer_nav ul li {
	color: #000;
	padding-left: 2rem;
}

.p-footer__copylight {
	color: #000;
	text-align: center;
}

.p-footer_nav ul li {
	border-left: 2px solid #2e6c83;
	font-family: "fertigo-pro", serif;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.35;
	padding-left: 1.875rem;
	padding-right: 1.875rem;
	text-align: center;
	transform: skewX(150deg);
}

.p-footer_nav ul li a:last-child {
	display: inline-block;
	transform: skewX(-150deg);
}

.menu-item-19 a {
	color: #FF9900;
}

.p-header {
	height: 6.25rem;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}

.p-header-inner {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 87.5rem;
	width: 100%;
}

.p-header_nav {
	background: rgba(46, 108, 131, 0.9);
	color: #fff;
	display: none;
	height: 37.5rem;
	opacity: 1;
	pointer-events: none;
	position: absolute;
	right: -100%;
	top: 6.25rem;
	transition: .5s;
	width: 31.25rem;
	z-index: 100;
}

.p-header-logo {
	font-family: "fertigo-pro", serif;
	line-height: 1;
	text-align: center;
}

.p-header_nav.open {
	opacity: 1;
	pointer-events: auto;
	right: 0;
	transform: translateX(0px);
	z-index: 100;
	z-index: 10000;
}

.p-header_nav_list {
	list-style: none;
	margin-top: 1.875rem;
}

.p-header_nav_list .menu-item:not(:first-child) {
	margin-top: 2.9375rem;
	text-align: left;
}

.p-header_nav_list a {
	color: #000;
	color: #fff;
	display: block;
	font-family: "fertigo-pro", serif;
	font-size: 1.25rem;
	line-height: 1;
	list-style: none;
	padding-left: 6.5625rem;
	position: relative;
	position: relative;
	text-decoration: none;
	text-decoration: none;
}

.p-header_nav_list a::after {
	position: absolute;
}

.p-header_nav_list::after {
	background: #fff;
	bottom: 0rem;
	content: "";
	height: 0.125rem;
	left: 6.5625rem;
	position: absolute;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform .5s;
	width: 12.5rem;
}

.p-header_nav_list:hover::after {
	transform: scale(1, 1);
}

.p-header_nav_list li:last-child a {
	color: #FF9900;
}

.p-header_btn {
	align-items: center;
	display: flex;
	display: none;
	padding: 0;
	z-index: 1000;
}

.p-header_nav-background {
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.p-header_nav-background.open {
	display: block;
}

.j-header.change-color {
	background-color: rgba(255, 255, 255, 0.8);
	transition: all  0.5s ease;
}

.p-header-nav__items ul {
	display: flex;
}

.p-header-nav__items ul li {
	border-left: 2px solid #2e6c83;
	font-family: "Noto Serif JP", serif;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.35;
	padding-left: 1.875rem;
	padding-right: 1.875rem;
	text-align: center;
	transform: skewX(150deg);
}

.p-header-nav__items ul li a {
	display: block;
	font-family: "fertigo-pro", serif;
	transform: skewX(-150deg);
}

.p-header-nav__items ul li:last-child {
	border-right: 2px solid #2e6c83;
}

.p-header-nav__items ul li a:hover {
	opacity: .7;
}

#menu-item-24 a:after {
	content: 'トップ';
	display: block;
	font-size: 1rem;
}

#menu-item-23 a:hover:after {
	opacity: .7;
}

#menu-item-23 a:after {
	content: '講師';
	display: block;
	font-family: "Noto Serif JP", serif;
	font-size: 1rem;
}

#menu-item-23 a:hover:after {
	opacity: .7;
}

#menu-item-21 a:after {
	content: 'コンクール';
	display: block;
	font-family: "Noto Serif JP", serif;
	font-size: 1rem;
}

#menu-item-21 a:hover:after {
	opacity: .7;
}

#menu-item-20 a:after {
	content: 'ギャラリー';
	display: block;
	font-family: "Noto Serif JP", serif;
	font-size: 1rem;
}

#menu-item-20 a:hover:after {
	opacity: .7;
}

#menu-item-22 a:after {
	content: 'クラス';
	display: block;
	font-family: "Noto Serif JP", serif;
	font-size: 1rem;
}

#menu-item-22 a:hover:after {
	opacity: .7;
}

#menu-item-19 a {
	color: #FF9900;
}

#menu-item-19 a:after {
	color: #FF9900;
	content: 'お問い合わせ';
	display: block;
	font-family: "Noto Serif JP", serif;
	font-size: 1rem;
}

#menu-item-19 a:hover:after {
	opacity: .7;
}

.l-mv {
	min-height: 100vh; /* カスタムプロパティ未対応ブラウザ用のフォールバック */
	min-height: calc(var(--vh, 1vh) * 100);
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-top: 8.125rem;
	width: 100%;
}

.mv-container {
	height: 100%;
	height: calc(var(--vh, 1vh) * 100 - 180px);
	margin: 0 auto;
	max-width: 75rem;
	position: relative;
	width: 100%;
}

.mv__wrapper {
	height: inherit;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.swiper-wrapper {
	height: 100%;
	height: calc(var(--vh, 1vh) * 100 - 179px);
	width: 100%;
}

.swiper-slide {
	height: 100%;
	padding-top: 56.25%;
	position: relative;
}

.slide-img {
	height: 100%;
	height: calc(var(--vh, 1vh) * 100 - 11.18rem);
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.slide-img-1 {
	background: url(../../assets/img/mv-pc-1.jpg) no-repeat top center/cover;
	display: block;
}

.slide-img-2 {
	background: url(../../assets/img/mv-pc-2.jpg) no-repeat top center/cover;
	display: block;
}

.slide-img-3 {
	background: url(../../assets/img/mv-pc-3.jpg) no-repeat top center/cover;
	display: block;
}

.p-mv_title-1st,
.p-mv_title-2nd,
.p-mv_title-3rd {
	background: #fff;
	color: #000;
	font-family: "Noto Serif JP", serif;
	font-size: 2.5rem;
	font-weight: 900;
	left: 50%;
	line-height: 1.25;
	padding-bottom: 1.875rem;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 1.875rem;
	position: absolute;
	text-align: center;
	top: 0%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 2;
}

.p-mv_title-1st {
	border: solid 3px #000;
}

.p-mv_title-2nd {
	border: solid 3px #000;
}

.p-mv_title-3rd {
	border: solid 3px #000;
}

.p-mv_title-1st span,
.p-mv_title-2nd span,
.p-mv_title-3rd span { /*フォントカラー*/
	background: #274a75; /*フォントサイズ*/
	color: #FFF;
	display: inline-block;
	font-size: 1.125rem; /*背景色*/
	font-weight: bold;
	padding: 7px 15px;
	position: relative;
}

.p-mv_title-1st span {
	background: #274a75; /*背景色*/
}

.p-mv_title-2nd span {
	background: #F4BE7F; /*背景色*/
}

.p-mv_title-3rd span {
	background: #6E322D; /*背景色*/
}

.p-mv_title-1st span::before,
.p-mv_title-2nd span::before,
.p-mv_title-3rd span::before {
	border: none;
	border-bottom: solid 15px transparent;
	border-right: solid 20px #959e9b;
	content: '';
	left: 0;
	position: absolute;
	top: 100%; /*折り返し部分*/
}

.p-mv_title-1st span::after,
.p-mv_title-2nd span::after,
.p-mv_title-3rd span::after {
	border: none;
	border-bottom: solid 15px transparent;
	border-left: solid 20px #959e9b;
	content: '';
	position: absolute;
	right: 0;
	top: 100%; /*折り返し部分*/
}

.p-mv__news {
	background: #274a75;
	color: #fff;
	font-family: "Noto Serif JP", serif;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 11px;
	padding-left: 50px;
	padding-top: 11px;
}

.p-mv__wrapper {
	width: 100%;
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
	-webkit-animation: zoomUp 30s linear 0s 1 normal both;
	animation: zoomUp 30s linear 0s 1 normal both;
}

.slide-img img {
	display: block;
}

.is-tab {
	display: none;
}

.is-sp {
	display: none;
}

.is-ssp {
	display: none;
}

.p-section__title {
	color: #000;
	font-size: 36px;
	text-align: center;
}

.p-test {
	color: red;
	font-size: 3.125rem;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media screen and (min-width: 767px) and (max-width: 1100px) {

.p-company__title:before {
	left: calc(50% - 45%);
}

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

.slide-img-1 {
	background: url(../../assets/img/mv-tab-5.jpg) no-repeat top center/cover;
}

}

@media (min-width: 1000px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1000px) and (max-width: 1175px) {

.swiper-slide {
	padding-top: 64.25%;
}

}

@media screen and (min-width: 1440px) {

.u-hidden-pc {
	display: none;
}

}

@media screen and (max-width: 1023px) {

html {
	font-size: 1.6vw;
}

.l-inner {
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.p-header_hamburger {
	height: 1.875rem;
	width: 2.5rem;
}

.c-test {
	color: green;
	font-size: 1.875rem;
}

.p-about:before {
	font-size: 5.625rem;
}

.p-footer__inner {
	flex-direction: column;
	padding: 0 2rem;
}

.p-mv_title-1st,
.p-mv_title-2nd,
.p-mv_title-3rd {
	font-size: 35px;
	padding-bottom: 20px;
	padding-top: 15px;
}

.p-mv_title-1st span,
.p-mv_title-2nd span,
.p-mv_title-3rd span {
	font-size: 18px;
}

.is-tab {
	display: block;
}

}

@media screen and (max-width: 767px) {

html {
	font-size: 16px;
}

.l-header {
	height: 5rem;
	padding: 0 1.875rem;
}

.p-about {
	margin-top: 150px;
	padding: 5rem 0.9375rem 2.5rem;
}

.p-about:before {
	font-size: 3.75rem;
	right: calc(50% - 45%);
	top: -80px;
}

.p-about__inner {
	max-width: 37.5rem;
	padding-bottom: 2.5rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 0;
}

.p-about__text {
	font-size: 1rem;
	padding: 1.875rem 0.9375rem;
}

.p-class {
	padding-bottom: 7.5rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

.p-class__title:before {
	font-size: 3.75rem;
}

.p-class__cards {
	padding-top: 1rem;
}

.p-class__card {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 180px;
	max-width: 450px;
	width: 100%;
}

.p-class__card:nth-child(3n + 1) {
	margin-left: auto;
	margin-right: auto;
}

.p-class__header {
	font-size: 1.5rem;
}

.p-class__card::after {
	padding-top: 2.8125rem;
}

.p-company {
	margin-top: 150px;
	padding-bottom: 40px;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

.p-company__title:before {
	font-size: 3.75rem;
	left: calc(50% - 45%);
	top: -110px;
}

.p-company__card:nth-child(even) {
	flex-direction: column;
}

.p-company__cards {
	padding-top: 3.125rem;
}

.p-company__card {
	flex-direction: column;
	margin: auto;
	margin-bottom: 6.25rem;
	max-width: 37.5rem;
}

.p-company__card::after {
	font-size: 4.375rem;
	left: 48%;
	top: -5%;
	transform: translateX(-50%);
}

.p-company__card:nth-of-type(even)::after {
	font-size: 4.375rem;
	left: 48%;
	top: -5%;
	transform: translateX(-50%);
}

.card__texts {
	padding-bottom: 35px;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 3.125rem;
	text-align: center;
	width: 100%;
}

.p-company__card:nth-child(even) .card__texts {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

.card__title {
	font-size: 1.5rem;
}

.card__text {
	text-align: left;
}

.card__images {
	width: 100%;
}

.p-footer__title {
	font-size: 24px;
}

.p-footer_nav ul {
	flex-direction: column;
	padding-top: 2.5rem;
	text-align: center;
}

.p-footer_nav ul li {
	padding-top: 0.9375rem;
}

.p-footer__copylight {
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;
	padding-top: 2.5rem;
}

.p-footer_nav ul li {
	border-left: none;
	font-size: 1rem;
}

.p-header_nav {
	display: block;
	height: 18.75rem;
	width: 18.75rem;
}

.p-header-logo {
	font-size: 1.5rem;
}

.p-header_nav_list .menu-item:not(:first-child) {
	margin-top: 1.6875rem;
}

.p-header_nav_list::after {
	width: 6.25rem;
}

.p-header_btn {
	display: block;
}

.p-header-nav {
	display: none;
}

.p-header-nav__items ul li {
	font-size: 1rem;
}

.l-mv {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 5rem;
}

.mv-container {
	height: calc(var(--vh, 1vh) * 100 - 130px);
	max-width: 37.5rem;
}

.swiper-wrapper {
	height: calc(var(--vh, 1vh) * 100 - 130px);
}

.slide-img {
	height: calc(var(--vh, 1vh) * 100 - 8.125rem);
}

.slide-img-1 {
	background: url(../../assets/img/mv-sp-15.jpg) no-repeat top center/cover;
}

.slide-img-2 {
	background: url(../../assets/img/mv-sp-6.jpg) no-repeat top center/cover;
}

.slide-img-3 {
	background: url(../../assets/img/mv-sp-10.jpg) no-repeat top center/cover;
}

.p-mv_title-1st,
.p-mv_title-2nd,
.p-mv_title-3rd {
	font-size: 25px;
}

.p-mv_title-1st span,
.p-mv_title-2nd span,
.p-mv_title-3rd span {
	font-size: 16px;
	margin-top: 0.625rem;
	padding: 7.5px 10px;
}

.p-mv__news {
	font-size: 16px;
}

.is-sp {
	display: block;
}

.p-section__title {
	font-size: 24px;
}

.p-test {
	color: green;
	font-size: 1.875rem;
}

.u-hidden-sp {
	display: none;
}

}

@media screen and (max-width: 500px) {

.p-about {
	margin-bottom: 0;
	margin-top: 120px;
}

.p-about:before {
	font-size: 2.5rem;
	top: -49px;
}

.p-company__title:before {
	left: 50%;
	transform: translateX(-50%);
}

}

@media screen and (max-width: 375px) {

.p-company__card::after {
	font-size: 3.75rem;
}

.p-company__card:nth-of-type(even)::after {
	font-size: 3.75rem;
}

.p-header {
	height: 5rem;
}

.slide-img-2 {
	background: url(../../assets/img/mv-sp-6.jpg) no-repeat top right/cover;
}

.is-ssp {
	display: block;
}

}

@-webkit-keyframes zoomUp {

0% {
	transform: scale(1);
}

100% {
	transform: scale(1.15);
}

}

@keyframes zoomUp {

0% {
	transform: scale(1);
}

100% {
	transform: scale(1.15);
}

}

