.p-about {
    margin: rem(200) 0;
    background: $bg-white;
    position: relative;
    @include mq(sp) {
        margin-top: 150px;
        padding: rem(80) rem(15) rem(40);
    }
}
@media screen and (max-width: 500px) {
    .p-about {
        margin-top: 120px;
        margin-bottom: 0;
    }
}
.p-about::after {
    content: "";
    position: absolute;
    top: -150px;
    background: url(../img/about-title.png) no-repeat center center / contain;
    right: calc(50% - 40%);
    width: rem(789);
    height: rem(120);
    @include mq(tab) {
        width: rem(615);
        height: rem(120);
    }
    @include mq(sp) {
        width: rem(473);
        height: rem(72);
        top: rem(-100);
        left: 50%;
        transform: translate(-50%);
    }
}
@media screen and (max-width: 500px) {
    .p-about::after {
        width: rem(307);
        height: rem(48);
        top: rem(-80);
        left: 50%;
        transform: translate(-50%);
    }
}
@media screen and (max-width: 374px) {
    .p-about::after {
        width: rem(230);
        height: rem(36);
        top: rem(-80);
        left: 50%;
        transform: translate(-50%);
    }
}
@media screen and (max-width: 500px) {
    .p-about:before {
        font-size: rem(40);
        top: -49px;
    }
}
.p-about__inner {
    padding: rem(80) rem(40);
    width: 100%;
    max-width: rem(1200);
    margin: 0 auto;
    @include mq(sp) {
        max-width: rem(600);
        padding-top: 0;
        padding-left: rem(10);
        padding-right: rem(10);
        padding-bottom: rem(40);
    }
}
.p-about__title {
    font-weight: $font-weight-bold;
    position: relative;
}
.p-about__text {
    margin-top: rem(20);
    max-width: rem(900);
    margin: 0 auto;
    font-size: rem(20);
    color: $black;
    position: relative;
    margin: 2em auto;
    padding: rem(30) rem(50);
    width: 100%;
    border: 2px solid $black;
    box-shadow: 2px 2px 1px #c7c7c7;
    border-radius: 20px;
    @include mq(sp) {
        font-size: rem(16);
        padding: rem(30) rem(15);
        padding-left: rem(15);
        padding-right: rem(15);
    }
}
.p-about__message {
    padding-bottom: 15px;
}
.p-about__name {
    font-weight: normal;
    padding-top: 15px;
    text-align: right;
}
