.p-header {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  height: rem(100);
  width: 100%;
  @include mq(ssp) {
    height: rem(80);
  }
}

.p-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: rem(1400);
  width: 100%;
  height: inherit;
  margin: 0 auto;
}

.p-header-logo {
  width: 118px;
  height: 67.5px;
  @include mq(sp) {
    width: 105px;
    height: 60px;
  }
}

.p-header_nav {
  width: rem(500);
  height: rem(600);
  color: $white;
  background: rgba($color: $r-red, $alpha: 0.9);
  position: absolute;
  right: -100%;
  pointer-events: none;
  transition: 0.7s;
  opacity: 1;
  z-index: 100;
  display: none;
  @include mq(tab) {
    height: rem(690);
    width: rem(300);
    display: block;
  }
  @include mq(sp) {
    height: rem(500);
    width: rem(300);
    display: block;
  }
}

.p-header-logo {
  line-height: 1;
  text-align: center;
}
.p-header_nav.open {
  right: 0;
  opacity: 1;
  z-index: 100;
  transform: translateX(0px);
  pointer-events: auto;
  z-index: 10000;
  transition: 0.5s;
  top: rem(95);
  @include mq(sp) {
    top: rem(80);
  }
}

.p-header_nav_list {
  list-style: none;
  margin-top: rem(30);

  .menu-item:not(:first-child) {
    text-align: left;
    margin-top: rem(47);
    @include mq(sp) {
      margin-top: rem(18);
    }
  }
}
.p-header_nav_list a {
  position: relative;
  padding-left: rem(105);
  display: block;
  color: $black;
  font-size: rem(20);
  font-family: $font-family-base;
  text-decoration: none;
  list-style: none;
  line-height: 1.25;
  position: relative;
  text-decoration: none;
  color: $white;
}
.p-header_nav_list a:hover {
  opacity: 0.6;
}

.p-header_nav_list li:last-child a {
  color: $orange;
}

.p-header_nav-background {
  position: fixed;
  top: rem(100);
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
  &.open {
    @include mq(tab) {
      top: rem(95);
      display: block;
      background: rgba(0, 0, 0, 0.7);
    }
    @include mq(sp) {
      top: rem(80);
    }
  }
}

.j-header.change-color {
  background-color: $white-alpha;
  transition: all 0.5s ease;
}

.p-header-nav {
  @include mq(sp) {
    display: none;
  }
}
.p-header-nav__items {
  display: flex;
}
.p-header-nav__item {
  font-family: $font-family-base;
  font-weight: bold;
  font-size: rem(16);
  text-align: center;
  line-height: 1.35;
  padding-left: rem(28);
  padding-right: rem(28);
  @include mq(tab) {
    padding-left: rem(20);
    padding-right: rem(20);
  }
  @include mq(sp) {
    font-size: rem(16);
  }
}

.p-header-nav__items ul li:last-child {
  border-right: 2px solid $base-background;
}
.p-header-nav__items ul li a:hover {
  opacity: 0.7;
  transition: all 0.5s;
}
.p-header-nav__list--1st a:after {
  content: "トップ";
  display: block;
  font-size: rem(16);
  font-family: $font-family-base;
  transition: all 0.5s;
}
.p-header-nav__list--1st a:hover {
  opacity: 0.7;
  transition: all 0.5s;
}
.p-header-nav__list a:hover:after {
  opacity: 0.7;
  transition: all 0.5s;
}
.p-header-nav__list a:hover {
  opacity: 0.5;
  transition: all 0.5s;
}
.p-header-nav__list--3rd a:after {
  content: "教室一覧";
  display: block;
  font-size: rem(16);
  font-family: $font-family-base;
  transition: all 0.5s;
}

.p-header-nav__list--2nd a:after {
  content: "教師一覧";
  display: block;
  font-size: rem(16);
  font-family: $font-family-base;
  transition: all 0.5s;
}

.p-header-nav__list--5th a:after {
  content: "お知らせ";
  display: block;
  font-size: rem(16);
  font-family: $font-family-base;
}

.p-header-nav__list--4th a:after {
  content: "ギャラリー";
  display: block;
  font-size: rem(16);
  font-family: $font-family-base;
  transition: all 0.5s;
}

.p-header-nav__list--3rd a:after {
  content: "教室一覧";

  display: block;
  font-size: rem(16);
  font-family: $font-family-base;
  transition: all 0.5s;
}
.p-header-nav__list--6th a:after {
  content: "公演一覧";

  display: block;
  font-size: rem(16);
  font-family: $font-family-base;
  transition: all 0.5s;
}

.p-header-nav__list--7th a {
  color: $orange;
  transition: all 0.5s;
}

.p-header-nav__list--7th a:after {
  content: "お問い合わせ";
  display: block;
  font-size: rem(16);
  color: $orange;
  font-family: $font-family-base;
  transition: all 0.5s;
}

.p-header__logo--2nd {
  font-size: rem(16);
  text-align: center;
  position: relative;
  padding: 10px 20px;
  letter-spacing: 0.5px;
  font-weight: bold;
  @include mq(tab) {
    font-size: 14px;
  }
}
.p-header__logo--2nd::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: radial-gradient(circle at top left, transparent 20px, #ca4 20px, #ca4 23px, transparent 23px) left top /
      23px 25px no-repeat,
    radial-gradient(circle at top right, transparent 20px, #ca4 20px, #ca4 23px, transparent 23px) right top / 23px 25px
      no-repeat,
    radial-gradient(circle at bottom left, transparent 20px, #ca4 20px, #ca4 23px, transparent 23px) left bottom / 23px
      25px no-repeat,
    radial-gradient(circle at bottom right, transparent 20px, #ca4 20px, #ca4 23px, transparent 23px) right bottom /
      23px 25px no-repeat,
    linear-gradient(90deg, transparent 20px, #ca4 23px) left top / 51% 3px no-repeat,
    linear-gradient(-90deg, transparent 20px, #ca4 23px) right top / 51% 3px no-repeat,
    linear-gradient(90deg, transparent 20px, #ca4 23px) left bottom / 51% 3px no-repeat,
    linear-gradient(-90deg, transparent 20px, #ca4 23px) right bottom / 51% 3px no-repeat,
    linear-gradient(180deg, transparent 20px, #ca4 23px) left top / 3px 51% no-repeat,
    linear-gradient(0deg, transparent 20px, #ca4 23px) left bottom / 3px 51% no-repeat,
    linear-gradient(180deg, transparent 20px, #ca4 23px) right top / 3px 51% no-repeat,
    linear-gradient(0deg, transparent 20px, #ca4 23px) right bottom / 3px 51% no-repeat;
}
.p-header__logo--2nd::after {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  content: "";
  box-shadow: 0 0 0 1px #ca4;
}
