.l-mv{
width: 100%;
padding-top:rem(130);
// height: 100vh;
min-height: 100vh; /* カスタムプロパティ未対応ブラウザ用のフォールバック */
min-height: calc(var(--vh, 1vh) * 100);
padding-left: rem(40);
padding-right: rem(40);
padding-top: rem(100);
@include mq(sp){
  padding-left: rem(15);
  padding-right: rem(15);
  padding-top: rem(80);
}
}
.p-mv{
   
}

.mv-container{
    max-width: rem(1200);
    position: relative;
    height: 100%;
  //  height: calc(100vh - 180px );
   height: calc(var(--vh, 1vh) * 100 - 145px);
   width: 100%;
   margin: 0 auto;
   @include mq(sp){
  max-width: rem(600);   
  height: calc(var(--vh, 1vh) * 100 - 125px);
   }
}
.mv__wrapper{
    height: inherit;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-wrapper{
height: 100%;
// height: calc(100vh - 179px );
height: calc(var(--vh, 1vh) * 100 - 179px);
width: 100%;
@include mq(sp){
height: calc(var(--vh, 1vh) * 100 - 130px);

}
}
.swiper-slide{
height: 100%;
position: relative;
padding-top: 56.25% ;
// padding: 10px;

}
@media screen and (min-width: 1000px) and (max-width: 1175px){
  .swiper-slide{
    padding-top: 64.25%;
  }

}
.slide-img{
 position: absolute;
  top: 0;
  left: 0;
   width: 100%;
   height: 100%;
  //  height: calc(100vh - 11.18rem );
   height: calc(var(--vh, 1vh) * 100 - 9.06rem);
   @include mq(sp){
    height: calc(var(--vh, 1vh) * 100 - 7.8125rem);

  }
  }
//   @media screen and (min-width: 768px) and (max-width: 1024px){
// .l-mv{
// min-height: 630px;
// height: 500px;
// }}
//   @media screen and (min-width: 768px) and (max-width: 1024px){
// .slide-img{
// height: 500px ;
// }

//   }
.slide-img-1{
   display: block;
   background: url(../../assets/img/mv-pc-1.jpg)no-repeat top center / cover;
   @include mq(sp){
    background: url(../../assets/img/mv-sp-15.jpg)no-repeat top center / cover;
  }
  }
.slide-img-2{
  display: block;
   background: url(../../assets/img/mv-pc-2.jpg)no-repeat top center / cover;
   @include mq(sp){
    background: url(../../assets/img/mv-sp-6.jpg)no-repeat top center / cover;
  }
   @include mq(ssp){
    background: url(../../assets/img/mv-sp-6.jpg)no-repeat  top right / cover;
  }
  }
.slide-img-3{
  display: block;
   background: url(../../assets/img/mv-pc-3.jpg)no-repeat top center / cover;
   @include mq(sp){
    background: url(../../assets/img/mv-sp-10.jpg)no-repeat top center / cover;
  }
  }
    @media screen and (min-width: 768px) and (max-width: 1024px){
      .slide-img-1{
       
        background: url(../../assets/img/mv-tab-5.jpg)no-repeat top center / cover;
        
      }
  }
.p-mv_title-1st,.p-mv_title-2nd,.p-mv_title-3rd{
position: absolute;
top: 0%;
left: 50%;
transform: translateX(-50%);
color: $text-color;
font-size:rem(40);
z-index: 2;
width: 100%;
background: $white;
text-align: center;
padding-top: rem(30);
padding-bottom: rem(30);
padding-left: 15px;
padding-right: 15px;
line-height: 1.25;
font-family: $font-family-base;
font-weight: 900;
// font-weight: normal;
@include mq(tab){
  font-size: 35px;
  padding-top: 15px;
  padding-bottom: 20px;
}

@include mq(sp){
  font-size: 25px;
}
}
.p-mv_title-1st::before,.p-mv_title-2nd::before,.p-mv_title-3rd::before{
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background:
    radial-gradient(circle at top left, transparent 20px, #ca4 20px, #ca4 23px, transparent 23px) left top / 23px 25px no-repeat,
    radial-gradient(circle at top right, transparent 20px, #ca4 20px, #ca4 23px, transparent 23px) right top / 23px 25px no-repeat,
    radial-gradient(circle at bottom left, transparent 20px, #ca4 20px, #ca4 23px, transparent 23px) left bottom / 23px 25px no-repeat,
    radial-gradient(circle at bottom right, transparent 20px, #ca4 20px, #ca4 23px, transparent 23px) right bottom / 23px 25px no-repeat,
    linear-gradient(90deg, transparent 20px, #ca4 23px) left top / 51% 5px no-repeat,
    linear-gradient(-90deg, transparent 20px, #ca4 23px) right top / 51% 5px no-repeat,
    linear-gradient(90deg, transparent 20px, #ca4 23px) left bottom / 51% 5px no-repeat,
    linear-gradient(-90deg, transparent 20px, #ca4 23px) right bottom / 51% 5px no-repeat,
    linear-gradient(180deg, transparent 20px, #ca4 23px) left top / 5px 51% no-repeat,
    linear-gradient(0deg, transparent 20px, #ca4 23px) left bottom / 5px 51% no-repeat,
    linear-gradient(180deg, transparent 20px, #ca4 23px) right top / 5px 51% no-repeat,
    linear-gradient(0deg, transparent 20px, #ca4 23px) right bottom / 5px 51% no-repeat;
 
}
.p-mv_title-1st::after,.p-mv_title-2nd::after,.p-mv_title-3rd::after{
  
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    content: "";
    box-shadow: 0 0 0 1px #ca4;
 
}


// .p-mv_title-1st{
//   border: solid 3px $text-color;
// }
// .p-mv_title-2nd{
//   border: solid 3px $text-color;

// }
// .p-mv_title-3rd{
//   border: solid 3px $text-color;

// }
.p-mv_title-1st span,.p-mv_title-2nd span,.p-mv_title-3rd span{
  
  display: inline-block;
  position: relative;
  padding: 7px 15px;
  font-size:rem(18);/*フォントサイズ*/
  color: #FFF;/*フォントカラー*/
  background: $base-color;/*背景色*/
  font-weight: bold;
  @include mq(tab){
    font-size: 18px;
   }
  @include mq(sp){
    font-size: 16px;
    padding: 7.5px 10px;
    margin-top: rem(10);
  }
}
.p-mv_title-1st span{
  background: $base-color;/*背景色*/
 
}
.p-mv_title-2nd span{
  background: #F4BE7F;/*背景色*/
}
.p-mv_title-3rd span{
  background: #6E322D;/*背景色*/
}
.p-mv_title-1st span::before,.p-mv_title-2nd span::before,.p-mv_title-3rd span::before{
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);/*折り返し部分*/

  }
.p-mv_title-1st span::after,.p-mv_title-2nd span::after,.p-mv_title-3rd span::after{
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-left: solid 20px rgb(149, 158, 155);/*折り返し部分*/
}

// @media screen and (max-width: 1400px){
//   .slide-img{
//     padding-top: 68.25%;
//   }
// }
// @media screen and (max-width: 1150px){
//   .slide-img{
//     padding-top: 100%;
//   }
// }
// .swiper-picture{
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     height: calc(100vh - 11.18rem );
    
//      top: 2.18rem;
// }
// .swiper-picture source,.swiper-picture img{
//   top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     position: absolute;
// }


.p-mv__news{
  font-size: 16px;
  font-weight: bold;
  font-family: $font-family-base;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: $base-color;
  color: $white;
  @include mq(sp){
   padding-left: rem(18); 
  }
 }
.p-mv__wrapper{
// position: absolute;
// bottom: 0;
width: 100%;
// z-index: 5;
}
.p-mv__texts{

}
.p-mv__title{

}
.p-mv-text{

}

@keyframes zoomUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.15);
    }
  }
  
  .swiper-slide-active .slide-img,
  .swiper-slide-duplicate-active .slide-img,
  .swiper-slide-prev .slide-img{
    animation: zoomUp 30s linear 0s 1 normal both;  
  }
  
  //imgタグだと下に隙間ができるのでblockに。
  .slide-img img{
    display: block;
  }
 
  .is-tab{
    display: none;
    @include mq(tab){
      display: block;
    }
  }
  .is-sp{
    display: none;
    @include mq(sp){
      display: block;
    }
  }
  .is-ssp{
    display: none;
    @include mq(ssp){
      display: block;
    }
  }