.p-performance {
  position: relative;
  padding-top: rem(200);
  padding-bottom: rem(200);

}
.p-performance__inner {
  max-width: rem(1200);
  width: 100%;
  margin: 0 auto;
  padding-left: rem(60);
  padding-right: rem(60);
  @include mq(sp) {
    max-width: rem(600);
  }
}

.p-performance__title {
  position: relative;
  color: $black;
  text-align: center;
  font-size: rem(36);
  font-family: $font-family-base;
  padding-bottom: rem(80);
  font-weight: $font-weight-base;
  @include mq(sp) {
    padding-bottom: rem(64);
  }
}
.p-performance__title:before {
  content: "";
  position: absolute;
  top: rem(-80);
  left: 50%;
  transform: translateX(-50%);
  background: url(../img/performance.png) no-repeat center center / contain;
  width: rem(351);
  height: rem(110);
  @include mq(sp) {
    top: rem(-60);
    width: rem(280);
    height: rem(87);
  }
  @include mq(ssp) {
    width: rem(163);
    height: rem(51);
  }
}
.performance-classes__card{
  
}
.performance-classes__card-title {
  font-size: rem(24);
  font-family: $font-family-base;
  color: $black;
  padding-bottom: rem(20);
  padding-top: rem(20);
  padding: 20px 10px;
  text-align: center;
  font-weight: $font-weight-base;
 border: 2px solid $bg-white ;
  @include mq(sp) {
    font-size: rem(16);
  }
}
.performance-classes__img {
  height: auto;
}
.performance-classes__figure {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 141%;
}
.performance-classes__figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-performance__card-item {
  margin-top: rem(30);
}
.p-performance .swiper-pagination {
  bottom: -50px;
  position: absolute;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 100%;
  outline: none;
  margin-right: 40px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: $purple;
}

.p-performance__btn {
  padding-top: rem(120);
}
