.section {
    padding: 200px 0;
    background: $bg-white;
}
.p-page-section__subtitle {
    width: 100%;
    max-width: rem(920);
    margin: 0 auto;
    margin-bottom: rem(40);
    position: relative;
    text-align: center;
    font-family: $font-family-base;
    font-size: rem(36);
    padding-bottom: rem(40);
    padding-top: rem(40);
    color: $base-color;
    color: $white;
    font-weight: normal;
    background: #20337f;
    background: $base-color;
    color: $yellow;
    box-shadow: 0 0 5px $base-color;
    box-shadow: 5px 5px 0 $blue;
    background-image: linear-gradient(45deg, $white 10px, transparent 0),
        linear-gradient(-45deg, $white 10px, transparent 0), linear-gradient(135deg, $white 10px, transparent 0),
        linear-gradient(-135deg, $white 10px, transparent 0);
    @include mq(sp) {
        font-size: rem(30);
        width: 100%;
        max-width: rem(600);
        margin-bottom: rem(40);
    }
}
.p-page-section__subtitle::before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    content: "";
    box-shadow: 0 0 0 5px $white;
    z-index: 5;
}
.p-page-section__subtitle::after {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    content: "";
    box-shadow: 0 0 0 1px $white;
}
.p-page-section__subtitle span {
    position: relative;
    color: $white;
    font-size: rem(24);
    @include mq(sp) {
        font-size: rem(18);
    }
}
.p-page-section__subtitle span::before,
.p-page-section__subtitle span::after {
    content: "";
    position: absolute;
}
.p-page-section__subtitle span::after {
    right: -37px;
    transform: rotate(-60deg);
}
