// 色
$base-color:#006E93;
$base-color:#274a75;
$gray:#7C8A97;
$background: #fff; // 背景
$text-color: #003041; // テキスト色
$text-color: #000; // テキスト色
$blue:#167AAC;
$blue:#C6D6EB;
$black:#000;
$base-background: #2e6c83;
$white:#fff;
$orange:#FF9900;
$background-blue:#4683C6;
$bg-white:#f7f7f7;
$bg-white:#f4f4f4;
$light-gray:#e6e6e6;
$light-blue:#ECF1F8;
$white-alpha:rgba($color: $white, $alpha: 0.8);
// マウスホバー
$opacity: 0.7; // 透過度

// フォント
// $font-family-base: 'Noto Sans JP', sans-serif;// ベースフォント
$font-family-base: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;// ベースフォント
$font-family-base: 'Noto Serif JP', serif;// ベースフォント

// $second-font-family:'Montserrat', sans-serif;
// $font-family-base:'Roboto Slab', serif;
$second-font-family:'Roboto Slab', serif;
$second-font-family:'fertigo-pro', serif;
// $third-font-family: futura-pt-condensed, sans-serif;
$font-logo: 'fertigo-pro', serif;
$font-size-base: 16px; // ベースフォントサイズ
$font-weight-base: 400; // ベースフォントウェイト
$lh: 1.6; // ベース行間

// ---
// レイアウト
// ---
$l-inner: 1000px; // インナー幅
$l-ssp: 375px; // タブレットサイズ
$l-sp: 768px; // タブレットサイズ
$l-tab: 1024px; // タブレットサイズ
$l-pc: 1440px; // パソコン幅

// ブレークポイント（PC基準）
$breakpoints: (
	"ssp": "screen and (max-width: #{$l-ssp})",
	"sp": "screen and (max-width: #{$l-sp - 1})",
	"tab": "screen and (max-width: #{$l-tab - 1 })",
	"pc": "screen and (min-width: #{$l-pc})",
);


$padding-pc: 25px; // タブレット時の余白
$padding-sp: 20px; // スマホ時の余白

