.l-header {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    height: rem(100);
    width: 100%;
    padding: 0 rem(40);
    background: $white;
    @include mq(sp) {
        height: rem(80);
        padding: 0 rem(30);
    }
}
